<%= form_for content_block, :html => { :class => "form-horizontal section" } do |f| %>
  <div class="modal-body">        
    <div class="control-group">
      <%= f.label :title, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :title, :class => 'form-control' %>
      </div>
    </div>
    <%= f.hidden_field :tool_id, :value => params[:id] %>
  </div>
  <br/>
  <div class="modal-footer">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            content_template_tool_path, :class => 'btn btn-default' %>      
  </div>
<% end %>
